.boxLink{        
     text-decoration:none;    
    color: green;
     }
    
    .main{
        background-image: url('collegeimg.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        font-family:sans-serif;
     }
     
     .rowsOfTable{
        background-color: #f5f5f5;
        border: 3px solid gray;
        
    }

    .rowsOfTable:hover {
        transform: scale(1.01);
        background-color: yellow;
    }
    address{
     text-align: right;
     color: darkgray;

    }
     img{
    image-rendering: right;
    image-rendering: no-repeat;
    inline-size: 100% 100%;
    }
     caption{
            font-family:serif;
            font-size: larger;
            border: 3px solid gray;
    }

caption:hover{
    transform: scale(1.01);
}

.boxOfTable{
             background-color: #ff7f50;
            padding: 10%;
            max-width:50%;
            width: 40%;
        }
             input{
                Width: 30%;
            }

    .welC{
        font-size: xx-large;
        color:darkviolet; 
        background-color:rgba(173, 216, 230, 0.471);
    }
